aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
cached-property==1.5.2
charset-normalizer==2.0.12
cycler==0.11.0
Cython==0.29.16
dipy==1.4.0
fonttools==4.30.0
frozenlist==1.3.0
fury==0.8.0
h5py==3.6.0
idna==3.3
kiwisolver==1.3.2
matplotlib==3.5.1
multidict==6.0.2
nibabel==3.0.1
numpy==1.17.0
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
scipy==1.2.1
six==1.16.0
tqdm==4.63.0
typing-extensions==4.1.1
vtk==9.1.0
wslink==1.4.3
yarl==1.7.2
